<%= form_with(model: user) do |form| %>
  
  <% if user.errors.any? %>
    <div id="error_explanation">
 
      <h2>
        <%= pluralize(user.errors.count, "error") %> 
          prohibited this user from being saved:
      </h2>

      <ul>
        <% user.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    
    </div>
  <% end %>

  <div class="field">
    <strong>
      <%= form.label :user_image %>
    </strong>
    <%= form.file_field :user_image %>
  </div>
  
  <div class="field">
    <strong>
      <%= form.label :name %>
    </strong>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <strong>
      <%= form.label :user_name %>
    </strong>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <strong>
      <%= form.label :email %>
    </strong>
    <%= form.email_field :email %>
  </div>

  <% if !logged_in? %>
    <div class="field">
      <strong>
        <%= form.label :password %>
      </strong>
      <%= form.password_field :password %>
    </div>
    
    <div class="field">
      <strong>
        <%= form.label :confirm_password %>
      </strong>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="field">
    <strong>
      <%= form.label :description %>
    </strong>
    <%= form.text_area :description %>
  </div>
  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
  
<% end %>
