<p id="notice"><%= notice %></p>

<div>
  <%= gravatar_for @user, size: 200 %>
</div>

<p class="card-text"><%= pluralize(@user.contact.count, "contact") %><p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <!--strong>Password:</strong-->
  <!--%= @user.password_digest %-->
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
