<p id="notice"><%= notice %></p>

<div>
  <% if @user.user_image.attached? %>
    <%= image_tag @user.user_image, size: 200 %>
  <% else %>
    <%= gravatar_for @user, size: 200 %>
  <% end %>
</div>

<div>
  <p class="card-text"><%= link_to (pluralize(@user.contact.count, "contact")), contacts_path %><p>
  <%= render partial: "contacts_show", collection: @user_contacts %>
</div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
  
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <!--strong>Password:</strong-->
  <!--%= @user.password_digest %-->
</p>
<% if logged_in? && @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %> 
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-danger" %>
