<div class="nested-fields">
  <div>
    <%= f.label :first_name, "my media name" %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :media, "my media link" %>
    <%= f.text_field :media %>
  </div>
  <div>
    <%= f.hidden_field :_destroy %>
  </div>
  
  <p class= "btn btn-dark">
    <%= link_to "remove", "#", class: "remove_fields" %>
  </p>


  <br/>

</div>